main{
    grid-template-areas: "h h h h"
    "n n n n"
    "a a as as"
    "f f f f";

}
header{
    grid-area: h;
}
nav{
    grid-area:n;
}
aside{
    grid-area:as;
}
article{
    grid-area: a;
}
footer{
    grid-area: f;
}
@media screen and(max-width: 600px)
              and(min-width: 300px){
    main{
        grid-template-areas: "h h h h"
    "n n n n"
    "a a a a"
    "as as as as"
    "f f f f";
    grid-auto-columns: 1fr;
    }
}


