main{
    grid-template-areas: "h h h h"
    "n n n n"
    "a a as as"
    "f f f f";

}
header{
    grid-area: h;
}
nav{
    grid-area:n ;
}
aside{
    grid-area: as;
}
article{
    grid-area: a;
}


